.card {
    min-height: 30rem;
    border-radius: 2rem;
    background: rgba(191, 64, 191, 0.15);
    padding: 2rem;
    color: #fff;
    border: none;
}

.sub-card {
    border-radius: 13.147px;
    background: rgba(14, 14, 14, 0.32);
    padding: 13.147px 16.903px;
    color: #D2D2D2;
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 400;
}

.sub-card:hover {
    border: 1px solid #BF40BF;
}

.icon {
    background: #2E1A2E;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border-radius: 15.9px;
    padding: 0.8rem;
    font-size: 1.9rem;
    color: #fff;
}


.progress {
    height: 0.5rem;
    --bs-progress-bg: #b6b6b618;
    --bs-progress-bar-bg: #BF40BF;
    border-radius: 2rem;
}

.progress-bar {
    border-radius: 1rem;
}