<div class="card">
  <div class="card-body">
    <h1 class="card-title mb-4">Audio</h1>
    <div class="row g-2">
      @for(item of items; track $index){
      <div class="col-md-6">
        <div class="sub-card">
            <div class="row">
                <div class="col-8">
                  <div class="d-flex align-items-center">
                    <div class="logo shadow">
                      <i class="bi bi-music-note"></i>
                    </div>
                    <div class="ms-3">
                      <h4 class="mb-0 mt-2">{{ item.location }}</h4>
                      @if(item.muted){
                      <p>muted</p>
                      }@else {
                      <p>{{ item.volume }}</p>
                      }
                    </div>
                  </div>
                </div>
                <div class="col-4 d-grid">
                  <button type="button" class="btn btn-primary shadow">
                    {{item.action}}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-10">
                  @if(item.muted){
                      <div
                    class="progress progress-disabled mt-4 shadow"
                    role="progressbar"
                    aria-label="Example 20px high"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <div class="progress-bar" [ngStyle]="{width: item.volume}"></div>
                  </div>
                      }@else {
                          <div
                          class="progress mt-4 shadow"
                          role="progressbar"
                          aria-label="Example 20px high"
                          aria-valuenow="25"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" [ngStyle]="{width: item.volume}"></div>
                        </div>
                      }
              
                </div>
                <div class="col-2">
                  <div class="logo float-end shadow">
                    <i [class]="item.icon"></i>
                  </div>
                </div>
              </div>
        </div>
       
      </div>
      }
    </div>
  </div>
</div>
