<div class="bg overflow-auto">
  <div class="half-circle"></div>
  <div class="row">
    <div class="col-md-8 col-sm-6">
      <h1 class="mb-5">All Lights</h1>
      <div class="card">
        <div class="row g-5">
          @for(light of allLights; track $index){

          <div class="col-md-6 col-sm-8">
            <div class="sub-card">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div class="icon">
                    <i class="bi bi-brightness-low-fill"></i>
                  </div>
                </div>
                <div class="col-md-8">
                  <p class="mb-1">{{ light.title }}</p>
                  @if(light.isOn){

                  <div class="row align-items-center">
                    <div
                      class="progress col-md-10"
                      role="progressbar"
                      aria-label="Example 20px high"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <div
                        class="progress-bar"
                        [ngStyle]="{ width: light.range }"
                      ></div>
                    </div>
                    @if(light.range != ''){

                    <p class="text-white col-md-2 fs-5 mb-0">
                      {{ light.range }}
                    </p>
                    } @else{
                    <p class="text-white col-md-2 fs-5 mb-0">0%</p>
                    }
                  </div>
                  }
                </div>
                <div class="col-md-2">
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault"
                      [checked]="light.isOn"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          }
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <h1 class="mb-5">Scenes</h1>
      <div class="card">
        @for(scene of scenes; track $index){
        <div
          class="sub-card mb-3"
          [ngClass]="scene.isActive ? 'sub-card-active' : ''"
        >
          <div class="row">
            <div class="col-md-2">
              <div class="icon">
                <i class="bi bi-brightness-low-fill"></i>
              </div>
            </div>
            <div class="col-md-10 col-sm-12">
              <p class="mb-1">{{ scene.scene }}</p>
              <div class="row align-items-center">
                <p class="text-white fw-medium fs-5 mb-0">
                  @if(scene.isActive){Active}@else{Inactive}
                </p>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>

