.navbar {
    transition: all 0.5s ease;
    z-index: 1;
    width: 100%;
    align-content: center;
}
.logo-container {
    display: flex;
    align-items: center;
    width: 40%;
    margin: auto;
}

.logo {
    background: #383838;
    text-align: center;
    width: 6rem;
    height: 5rem;
    min-width: 3rem;
    border-radius: 20px;
    padding: 0.313rem;
    font-size: 30px;
    cursor: pointer;
    border: none;
}

.qr {
    background: transparent;
    width: 6rem;
    height: 5rem;
    min-width: 3rem;
    padding: 0.313rem;
    cursor: pointer;
    border: none;
}

img{
    height: 5rem;
}


.logo:hover {
    background: #969696;
}

.nav-link {
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dashboard-active {
    background-color: #969696;
}

.lights-active {
    background-color: #FF9101;
}

.audio-active {
 
    background-color: #BF40BF;
}

@media (max-width: 720px) { 
    

    .logo {
        width: 4rem;
        height: 4rem;
        font-size: 20px;
    }
}