<nav
  class="navbar fixed-bottom bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <div class="my-2">
      <img
        src="../../assets/img/Conqora by KCP_Black Background_Landscape_Digital 1.svg"
        alt=""
      />
    </div>
    <div class="logo-container">
      @for(item of logos; track $index){
      <button class="logo mx-2">
        <a
          class="nav-link"
          [routerLink]="item.routerLink"
          [routerLinkActive]="item.activeStyle"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i [class]="item.logo"></i>
        </a>
      </button>
      }
    </div>
  </div>
</nav>
