<nav
  class="navbar fixed-bottom"
  data-bs-theme="dark"
>
  <div class="container-fluid">
      <div class="col-md-4">
        <img
        src="../../assets/img/conqora-logo.svg"
        alt=""
      />
      </div>
      <div class="col-md-4 d-flex gap-4">
        @for(item of logos; track $index){
          <a
              [routerLink]="item.routerLink"
              [routerLinkActive]="item.activeStyle"
              [routerLinkActiveOptions]="{ exact: true }"
              ><i [class]="item.logo"></i>
            </a>
          }
          <a class="qr">
            <i class="bi bi-qr-code"></i>
          </a>
      
      </div>
      <div class="col-md-4">
        <img src="../../assets/img/kcp-logo.png" class="float-end" alt="">
      </div>
  </div>
</nav>
