.card {
    min-height: 30rem;
    border-radius: 2rem;
    background: rgba(182, 171, 109, 0.15);
    padding: 2rem;
    color: #fff;
    border: none;
}

.sub-card {
    border-radius: 13.147px;
    background: rgba(14, 14, 14, 0.32);
    padding: 13.147px 16.903px;
    color: #D2D2D2;
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 400;
}

.sub-card:hover {
    border: 1px solid #FF9101;
}

.icon {
    background: #543E1A;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border-radius: 15.9px;
    padding: 0.15rem;
    font-size: 2.9rem;
    color: #fff;
}

.progress {
    height: 0.5rem;
    --bs-progress-bg: #b6b6b618;
    --bs-progress-bar-bg: #FF9101;
    border-radius: 2rem;
}

.progress-bar {
    border-radius: 1rem;
}