<div class="card">
  <div class="card-body">
    <h2 class="card-title mb-4">Lighting Scenes</h2>
    <div class="text-center">
      @for(item of lightScenes(); track $index){
      <div class="sub-card ">
        <div class="d-flex align-items-center">
          <div class="logo">
            <img [src]="item.icon" alt="..." />
          </div>
          <div class="ms-3" [ngClass]="item.isOn ? 'text-yellow' : 'text-normal'">
            <h3 class="mt-2"> {{ item.scene }} - {{ item.event }}</h3>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
