

<div class="card">
  <h1 class="mb-3">Displays</h1>
  <div class="row g-3">
    @for(item of displays(); track $index){
      <div class="col-md-6 col-sm-8">
        <div class="sub-card">
          <div class="row align-items-center">
            <div class="col-md-2">
              <div class="icon">
                <i [class]="item.icon"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h5>{{item.title}}</h5>
              <p class="fs-5 mb-0">{{item.subText}}</p>
            </div>
            <div class="col-md-2">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [checked]="item.isActive">
              </div>
            </div>
          </div>
        
        </div>
      </div>
    }
  </div>
</div>
