

<div class="bg overflow-auto">
  <div class="row g-3">
    <div class="col-md-7 col-sm-12">
      <display-component [displays]="displayService.displays"/>
    </div>
    <div class="col-md-5 col-sm-12">
      <background-music-component/>
    </div>
    <div class="col-md-4 col-sm-12">
      <light-scenes-component [lightScenes]="lightSceneService.lightScenes"/>
    </div>
    <div class="col-md-8 col-sm-12">
      <audio-component [audios]="audioService.audios"/>
     </div>
  </div>
</div>
