.card {
    color: #fff;
    background:url('../../../assets/img/music-background.png') no-repeat;
    background-size: cover;
    background-color: #383838;;
    border: none;
}

i{
    font-size: 4.5rem;
}

.title{
    color: #05CD55;
}

.form-range::-webkit-slider-thumb {
    background: #BF40BF;
    // font-size: 10rem;
  }
