<div class="card p-2">
  <div class="card-body">
    <h1 class="card-title mb-5">Background Music</h1>
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <img src="../../../assets/img/Rectangle 9.png" alt="..." />
      </div>
      <div class="flex-grow-1 ms-3">
        <h3 class="title">A Different Corner - Live</h3>
        <p>George Michael</p>
      </div>
    </div>
    <div class="row justify-content-md-center justify-content-between mt-5">
      <div class="col-2">
        <i class="bi bi-rewind-fill fs-1"></i>
      </div>
      <div class="col-2">
        <i class="bi bi-play-fill fs-1"></i>
      </div>
      <div class="col-2">
        <i class="bi bi-fast-forward-fill fs-1"></i>
      </div>
    </div>
    <div class="d-flex justify-content-md-center mx-5 my-5 gap-2">
        <span>0:48</span>
        <input type="range" class="form-range" id="customRange1">
        <span>4:16</span>
    </div>
  </div>
</div>
