

<div class="card">
    <h1 class="card-title mb-4">Background Music</h1>
    <div class="row align-items-center mb-4">
      <div class="col-md-4">
        <img src="../../../assets/img/song-cover.png" alt="..." />
      </div>
      <div class="col-md-8">
        <h5>A Different Corner - Live</h5>
        <p class="fs-5 mb-0">George Michael</p>
      </div>
    </div>
    <input type="range" class="form-range">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <p class="song-length">0:38</p>
      </div>
      <div class="col-md-2">
        <p class="float-end song-length">-1:18</p>
      </div>
    </div>
    <div class="row justify-content-md-center justify-content-between align-items-center">
      <div class="col-2 text-center">
        <i class="bi bi-skip-start-fill forwards"></i>
      </div>
      <div class="col-2 text-center">
        <i class="bi bi-play-circle-fill play"></i>
      </div>
      <div class="col-2 text-center">
        <i class="bi bi-skip-end-fill forwards"></i>
      </div>
    </div>

</div>
